prod
*/prod
*/*/prod
*/*/*/prod
*/*/*/*/prod
*/*/*/*/*/prod

.env
*/.env
*/*/.env
*/*/*/.env
*/*/*/*/.env
*/*/*/*/*/.env
*.csv
*/*.csv
*/*/*.csv
*/*/*/*.csv
*/*/*/*/*.csv
*/*/*/*/*/*.csv

.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea

venv
*/venv
*/*/venv
*/*/*/venv
*/*/*/*/venv
*/*/*/*/*/venv

python-map
*/python-map
*/*/python-map
*/*/*/python-map
*/*/*/*/python-map
*/*/*/*/*/python-map

*.zip
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*/*/*/*.zip

prod1
*/prod1
*/*/prod1
*/*/*/prod1
*/*/*/*/prod1
*/*/*/*/*/prod1

databases
*/databases
*/*/databases
*/*/*/databases
*/*/*/*/databases
*/*/*/*/*/databases

build
*/build
*/*/build
*/*/*/build
*/*/*/*/build
*/*/*/*/*/build

vendor
*/vendor
*/*/vendor
*/*/*/vendor
*/*/*/*/vendor
*/*/*/*/*/vendor

node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules

templates
*/templates
*/*/templates
*/*/*/templates
*/*/*/*/templates
*/*/*/*/*/templates

storage/*.key
*/storage/*.key
*/*/storage/*.key
*/*/*/storage/*.key
*/*/*/*/storage/*.key
*/*/*/*/*/storage/*.key

storage/*.sql
*/storage/*.sql
*/*/storage/*.sql
*/*/*/storage/*.sql
*/*/*/*/storage/*.sql
*/*/*/*/*/storage/*.sql

.vagrant
*/.vagrant
*/*/.vagrant
*/*/*/.vagrant
*/*/*/*/.vagrant
*/*/*/*/*/.vagrant

Commands
*/Commands
*/*/Commands
*/*/*/Commands
*/*/*/*/Commands
*/*/*/*/*/Commands

backup
*/backup
*/*/backup
*/*/*/backup
*/*/*/*/backup
*/*/*/*/*/backup

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__


prod
*/prod
*/*/prod
*/*/*/prod
*/*/*/*/prod
*/*/*/*/*/prod
.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea
node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
venv
*/venv
*/*/venv
*/*/*/venv
*/*/*/*/venv
*/*/*/*/*/venv
python-map
*/python-map
*/*/python-map
*/*/*/python-map
*/*/*/*/python-map
*/*/*/*/*/python-map
*.zip
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*/*/*/*.zip
prod1
*/prod1
*/*/prod1
*/*/*/prod1
*/*/*/*/prod1
*/*/*/*/*/prod1




/bdd/mariadb/databases/*
/bdd/mariadbtest/databases/*
frontend
backend/app/Console/Commands/*
backend/resources/views/templates/*
backend/public/build/*
backend/flutterApp
backend/flutterApp/*
.ipynb_checkpoints
*.ipynb
/vendor/
node_modules/
npm-debug.log
yarn-error.log
public/build/*
/app/Console/_Commands
/resources/views/_templates
/app/Console/_*Commands
/app/Console/Commands/*
.git1
resources/_*templates
resources/templates
# Laravel 4 specific
bootstrap/compiled.php
app/storage/
backend/database/backup
# Laravel 5 & Lumen specific
public/storage
public/hot
public/js
public/css
public/img

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
