/vendor/
node_modules/
npm-debug.log
yarn-error.log
public/build/*
/app/Console/_Commands
/resources/views/_templates
/app/Console/_*Commands
/app/Console/_*Commands
/app/Console/Commands/*
.git1
resources/_*templates
resources/templates
prod
*/prod
*/*/prod
*/*/*/prod
*/*/*/*/prod
*/*/*/*/*/prod
prod1
*/prod1
*/*/prod1
*/*/*/prod1
*/*/*/*/prod1
*/*/*/*/*/prod1

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/js
public/css
public/img

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
!.gitignore
