.ag-filter-select,[ref='eCondition2Body']{
    display: none !important;
}
.ag-filter-toolpanel-search,[ref='ag-filter-toolpanel-search']{
    display: none !important;
}
.ag-filter-condition{
    display: none !important;
}
//.ag-filter-body-wrapper>.ag-filter-body:nth-child(2){
//    display:none
//}
